@model Models.Reporte;

<div>
    @{
        Reportes.Busqueda rep = new Reportes.Busqueda();
        rep.Parameters["usuario"].Value = Model.Usuario;
        rep.Parameters["textoBuscado"].Value = Model.TextoBuscado;
        rep.DataSource = Model.Marcas;
        @Html.DevExpress().WebDocumentViewer("ReporteBusquedas").Height("590px").ClientSideEvents(configure => configure.BeforeRender("onBeforeRender")).Bind(rep);
    }
</div>

<script type="text/javascript">
    function onBeforeRender(s, e) {
        s.GetPreviewModel().reportPreview.zoom(1);
    }
</script>
